<!-- <!doctype html>
<html> -->
{% extends 'base.html' %}
<head>
    {% block title %}Madlib{% endblock%}
    <!-- <link rel="stylesheet" href="/static/madlibs.css"> -->
</head>
{% block content %}
<!-- <body> -->
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
    When
    <ul>
        {% for feeling in feelings %}
        <li> {{feeling}}</li>
        {% endfor %}
    </ul>

    {{ person }} went to pick it up, it burst into flames in a totally
    {{ adjective }} way.


<!-- </body> -->
{% endblock %}
<!-- </html> -->